.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0px 3rem;    
    align-items: center;
}

.logo_container {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40px;
    object-fit: cover;
}

.nav_links {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0px 10px;
    color: #9ba2ae;
    transition: 0.1s;
}

.link:hover {
    color: white;
}

.forgot_password_form, .recovery_account_link {
    width: 350px;
    height: 500px;
    flex-direction: column;
    display: flex;
}

.main {
    margin: 0 auto;
}

.forgot_password_form_title, .recovery_account_link_title {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: #e1e7ef;
}

.forgot_password_form_subtitle, .recovery_account_link_subtitle {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #7A889D;
    margin-top: 15px;
    margin-bottom: 20px;
}

.forgot_password_form_input {
    background: #111827;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 0 solid #e5e7eb;
    border-width: 1px;
    border-color: hsl(216 34% 17%);
    font-size: .875rem;
    line-height: 1.25rem;
    height: 2.5rem;
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #7A889D;
}

.forgot_password_form_input_error {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: 5px;
    /* color: rgb(206, 48, 0); */
    color: rgb(206, 14, 0);
}

.forgot_password_form_submit {
    background: #F8FAFC;
    border-radius: 5px;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0 solid #e5e7eb;
    color: rgb(2, 2, 5);
    font-weight: 500;
    margin-top: 10px;
    transition: 0.1s;
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
}

.forgot_password_form_submit[disabled] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

.forgot_password_form_submit:hover {
    opacity: 0.9;
}

.recovery_account_link {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0rem 3rem;
}

.recovery_account_link_login {
    margin-top: 20px;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    text-decoration-line: underline;
    color: #5DB9FC;
    text-align: center;
}



@media screen and (max-width: 768px) {
    .header {
        padding: 0px 1.5rem;
    }
}