.header {
    width: 100%;
    height: 4rem;
    background-color: #1f2937;
    border-bottom: 1px solid #323c4b;
}

.flex_header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo_container {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 32px;
    object-fit: cover;
    max-width: 32px;
}
